<h1>宇宙災害情報網</h1>
<table>
	<tr>
		<td>
			災害名稱
		</td>
		 <td>
		 	張貼時間
		 </td>	
	</tr>

	<%@messages.each do |m|%>
	<tr>
		<td>
		<%=link_to m.topic,message_path(m)%>
		</td>
		<td>
		<%= m.created_at%>
		</td>
		<%if current_user==m.user%>
		<td>
	<%= link_to "編輯文章",edit_message_path(m),:class=>"btn btn-default"%>
	<%=link_to "刪除文章", message_path(m),:method=>:delete,:class=>"btn btn-danger"%>
		</td>
		<%end%>



	</tr>

<%end%>
</table>

<%=link_to "張貼災情",new_message_path%>